# Dependencies and other files
node_modules/
package-lock.json
npm-debug.log
.env
dist/
build/
.cache/
.tgz
.log
.sqlite
.db
.tgz
.tsbuildinfo
coverage/
.dockerignore
Dockerfile
.pem
.key
.idea/
.vscode/
.sublime-project
.sublime-workspace
.iml
Thumbs.db
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local